h1 {
    font-size: 80px;
    text-align: center;
    color: #ff00ff;
    font-weight: 950;
}

.cart-contain {
    background-color: rgba(197, 155, 236, 0.616);
    margin: 40px;
    padding: 20px;
}

.cart-contain>div {
    background-color: antiquewhite;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
}

.phone-list {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.phone-detail {
    display: flex;
    justify-content: center;
}

.phone-detail>div {
    margin: 20px;
}

.phone-detail>div>p {
    padding: 40px 0 0 20px;
    font-size: 30px;
    font-weight: 500;
}

.phone-price {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.phone-price>div {
    margin: 20px;
}

.phone-price>div>input {
    width: 40px;
    height: 20px;
    padding: 0;
}

.phone-price>div>h5 {
    font-size: 30px;
}

.quantity-detail {
    display: flex;
    justify-content: center;
    padding: 58px 0 0 0;
}

.quantity-detail>div {
    padding: 0 10px;
}

.close-btn {
    padding: 55px 0 0 0;
}